# Python bytecode files
__pycache__/

# Environment variables file
.env

# testing file
data_analysis.py
data_collection.py

# png picture
Interface.png
temperature_over_time.png
correlation_heatmap.png
